CIRCUITPY_WIFI_SSID = "LabThings"
CIRCUITPY_WIFI_PASSWORD = "..."
# WIFI_HOSTNAME = "esp-relay-1"
MQTT_HOST = "mqtt"
MQTT_PORT = 1883
MQTT_TLS = 0
# MQTT_USERNAME = ""
# MQTT_PASSWORD = ""
MQTT_TOPIC = "test/esp-relay-1"
# WATCHDOG_TIMEOUT = 180
